body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

header{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:70px;
}

header h1{
    margin:0;
    font-size:48px;
}

header p{
    font-size:20px;
}
.about{
    background:white;
    max-width:800px;
    margin:40px auto;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.about h2{
    text-align:center;
    color:#2563eb;
}

.about p{
    line-height:1.8;
    text-align:center;
}
.skills{

    text-align:center;

    margin-top:60px;

}
.skill-container{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

    margin-top:30px;

}
.skill-card{

    background:#2563eb;

    color:white;

    padding:20px 40px;

    border-radius:12px;

    font-weight:bold;

    transition:.3s;

    cursor:pointer;

    box-shadow:0 5px 10px rgba(0,0,0,.2);

}
.skill-card:hover{

    transform:translateY(-10px) scale(1.05);

    background:#1d4ed8;



}
.contact{

    margin-top:60px;

    background:#2563eb;

    color:white;

    padding:40px;

    text-align:center;

}
.contact h2{

    margin-bottom:20px;

}
.contact p{

    margin:10px;

}
nav{

    margin-bottom:40px;

}
nav a{

    color:white;

    text-decoration:none;

    margin:15px;

    font-weight:bold;

}
nav a:hover{

    text-decoration:underline;

}
html{
    scroll-behavior:smooth;
}
.projects{

    margin:70px auto;

    text-align:center;

}
.project-card{

    background:white;

    max-width:700px;

    margin:auto;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

}
.project-card h3{

    color:#2563eb;

}
.project-card p{

    margin:20px 0;

}
.project-card a{

    display:inline-block;

    background:#2563eb;

    color:white;

    text-decoration:none;

    padding:12px 25px;

    border-radius:10px;

    transition:.3s;

}
.project-card a:hover{

    background:#1d4ed8;

    transform:scale(1.05);

}
@media (max-width:768px){

    header h1{
        font-size:50px;
    }

    nav a{
        display:block;
        margin:15px;
    }

    .about,
    .project-card{
        width:90%;
    }

}
/* ===== Footer ===== */

footer {
    background: #1f4fd6;
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
}

footer p {
    margin: 8px 0;
    font-size: 16px;
}